{% block styles %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url(static/images/wildlee.svg) no-repeat center;
            background-position: center 0;
            background-size: cover;
            margin: 0;
        }

        .signin-container {
            background: rgba(255, 255, 255, 0.2);
            width: 480px;
            margin: 0 auto;
            margin-top: 15%;
            padding: 42px 42px 39px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="signin-container"
         style="background-color: #e85629; opacity: 0.9; padding: 30px; border-radius: 10px; color: white; font-family: 'FZLanTingHei', sans-serif;">

        {% with error_messages = get_flashed_messages(category_filter='error') %}
            {% if error_messages %}
                <div class="alert alert-danger">
                    <ul>
                        {% for message in error_messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <div id="signin-container">
            <form class="form-horizontal" method="post" action="{{ url_for('change_password') }}" style="color: white;">
                <input type="hidden" name="next" value="{{ next_page }}">

                <div class="form-group row">
                    <label for="current_password" class="col-sm-4 control-label">当前密码</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="current_password" name="current_password"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="new_password" class="col-sm-4 control-label">修改密码</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="new_password" name="new_password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirm_password" class="col-sm-4 control-label">确认密码</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                               required>
                    </div>
                </div>

                <div class="button-container mt-4">
                    <button type="submit" class="btn col-sm-4">确认</button>
                    <button type="button" onclick="window.location='{{ url_for('dashboard') }}'" class="btn col-sm-4">
                        返回
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
