{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <body style="background:url(static/images/wildlee.svg) no-repeat center; background-position: center 0; background-size: cover;">
    <style>
        .signin-container {
            background-color: #e85629;
            opacity: 0.9;
            width: 480px;
            margin: 5% auto;
            padding: 30px;
            border-radius: 10px;
        }


        .form-control {
            border-radius: 5px;
            color: black; /* 将文本颜色更改为可见的颜色 */
            background-color: white; /* 将背景颜色更改为可见的颜色 */
        }

        .btn {
            border-radius: 5px;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
        }

        /* 使用 col-form-label 类替代 control-label，设置左对齐 */
        .col-form-label {
            text-align: left !important;
            color: white; /* 设置标签字体颜色为白色 */
        }

    </style>

{% endblock %}

{% block content %}
    <div class="signin-container" style="color: white; text-align: center;">

        <form class="form-horizontal" method="post" action="{{ url_for('bind_device',id=id) }}">
            <div class="form-group">


                <label for="mytextarea" class="control-label">[IP地址列表]</label>


                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}


                <div>
                        <textarea name="mytextarea" class="form-control mx-auto" rows="15"
                                  placeholder="每个IP地址或网络独立一行，请注意换行！">

                                {% for ip in ips.split(',') %}
                                    {{ ip.strip() }}
                                {% endfor %}

                        </textarea>
                </div>

                <div class="form-group">
                    <p class="hint-text">提示:每个IP地址或网络独立一行，请注意换行！</p>
                    <label>示例: 192.168.0.0/24 192.168.1.5</label>
                </div>


                <div class="button-container mt-6"  style="color:#808080;">
                    <button type="submit" class="btn col-sm-4">关联设备</button>
                    <button type="button" onclick="window.location='{{ url_for('dashboard') }}'"
                            class="btn col-sm-4">返回
                    </button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

