{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/bootstrap.min.js"></script>
    <body style="background:url(static/images/wildlee.svg) no-repeat center; background-position: center 0; background-size: cover; margin: 0px;">
    <style>
        .signin-container {
            background-color: #e85629;
            opacity: 0.9;
            width: 480px;
            margin: 4% auto;
            padding: 30px;
            border-radius: 10px;
        }

        .form-control {
            border-radius: 5px;
            color: black; /* 将文本颜色更改为可见的颜色 */
            background-color: white; /* 将背景颜色更改为可见的颜色 */
        }

        .btn {
            border-radius: 5px;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
        }

        /* 使用 col-form-label 类替代 control-label，设置左对齐 */
        .col-form-label {
            text-align: left !important;
            color: white; /* 设置标签字体颜色为白色 */
        }
    </style>
{% endblock %}
{% block content %}
  <div class="signin-container">
    <form class="form-horizontal" method="post" action="{{ url_for('proxies_update', id=proxies.id) }}">

      <div class="form-group row">
        <label for="inputuser" class="col-sm-4 col-form-label">用户</label>
        <div class="col-sm-12">
          <input type="text" name="user" class="form-control" id="inputuser" value="{{ proxies.user }}" placeholder="输入用户">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputauxiliary_ip" class="col-sm-4 col-form-label">IP</label>
        <div class="col-sm-12">
          <input type="text" name="auxiliary_ip" class="form-control" id="inputauxiliary_ip" value="{{ proxies.auxiliary_ip }}" placeholder="附加IP" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputprotocol" class="col-sm-4 col-form-label">协议</label>
        <div class="col-sm-12">
          <input type="text" name="protocol" class="form-control" id="inputprotocol" value="{{ proxies.protocol }}" placeholder="输入协议">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputspeed_limit" class="col-sm-4 col-form-label">限速 Mbit</label>
        <div class="col-sm-12">
          <input type="text" name="speed_limit" class="form-control" id="inputspeed_limit" value="{{ proxies.speed_limit }}" placeholder="输入限速">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputproxy_url" class="col-sm-4 col-form-label">代理URL</label>
        <div class="col-sm-12">
          <input type="text" name="proxy_url" class="form-control" id="inputproxy_url" value="{{ proxies.proxy_url }}" placeholder="输入代理URL">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputcreated_at" class="col-sm-4 col-form-label">创建日期</label>
        <div class="col-sm-12">
          <input type="date" name="created_at" class="form-control" id="inputcreated_at" value="{{ proxies.created_at }}" placeholder="输入创建日期">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputexpiration_date" class="col-sm-4 col-form-label">到期日期</label>
        <div class="col-sm-12">
          <input type="date" name="expiration_date" class="form-control" id="inputexpiration_date" value="{{ proxies.expiration_date }}" placeholder="输入到期日期">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputremark" class="col-sm-4 col-form-label">备注</label>
        <div class="col-sm-12">
          <input type="text" name="remark" class="form-control" id="inputremark" value="{{ proxies.remark }}" placeholder="输入备注">
        </div>
      </div>

      <div class="form-group" style="display: flex; justify-content: center; align-items: center; color: #808080;">
        <button type="submit" class="btn col-sm-4">保存修改</button>
      </div>
    </form>
  </div>
{% endblock %}
